.wrapper-modal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 999;
}

.btn-open {
  width: 60px;
  height: 60px;
  font-size: 24px;
  border: none;
  background-color: #72b94d;
  color: #fff;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.open-chat {
  text-align: right;
  z-index: 999;
  position: fixed;
  right: 10px;
  bottom: 20px;
}

.open-chat::after {
  content: "1";
  background-color: #c73f45;
  position: relative;
  top: -25px;
  left: -20px;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 50%;
}

@media (max-width: 414px) {
  .wrapper {
    top: 0%;
    right: 0%;
  }
  .wrapper-chat {
    width: 100%;
    height: 100vh;
    width: 414px;
  }
  .personal-messages {
    height: 80vh;
  }
  .users {
    height: 80vh;
  }
}

@media (max-width: 375px) {
  .wrapper-chat {
    max-width: 375px;
    padding-right: 0px;
  }
  .users {
    padding: 0px 10px;
  }
  .new-mess {
    right: 12%;
  }
}

@media (max-width: 320px) {
  .chat-header a {
    right: 25%;
  }
  .wrapper-chat {
    height: 110vh;
  }
  .message-date {
    font-size: 11px;
  }
  .users {
    padding: 0px 25px;
  }
  .personal-messages {
    padding: 0 10px;
  }
}
