.chat-wrap {
  width: 100%;
  height: 65vh;
  overflow: overlay;
}

@media (max-width: 414px) {
  .chat-wrap {
    height: 78vh;
  }
}

@media (max-width: 375px) {
  .chat-wrap {
    height: 76vh;
  }
}


@media (max-width: 320px) {
  .chat-wrap {
    height: 72vh;
  }
  .block-input {
    margin-left: 25px;
  }
}
